@{
    var user = ViewBag.User as string;
}

<h1>Welcome</h1>

@if (!string.IsNullOrEmpty(user))
{
    <div class="alert alert-success">Logged in as @user. <a href="/Account/Logout">Logout</a></div>
}
else
{
    <div>
        <a class="btn btn-primary" href="/Account/Register">Register</a>
        <a class="btn btn-secondary" href="/Account/Login">Login</a>
    </div>
}
